* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*этими тегами мы убрали оформление выставляемое по умолчанию*/
body {
    font-family: 'Lato', sans-serif;
}
/*присоеденили стиль шрифта из сайта https://fonts.google.com/*/
a {
    text-decoration: none;
}
/* значит что все ссылки будут без оформления в виде синего цвета и подчеркнутого шрифта*/
.center {
    padding: 0 calc(50% - 570px)
}
/*в нашем макете ширина страницы составляла 1140рх. Поэтому мы выставили значение 570*/

.header {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0 0 10px 0 #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*данные взяли из макета, убрав информацию про ширину*/
.header__left {
    display: flex;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 37px;
    font-size: 27px;
    font-weight: 300;
    color: #222222;
    text-align: center;
    letter-spacing: 0px;
    line-height: 32px;
    text-transform: uppercase;
}

.header__form {
    display: flex;
    align-items: center;
   
}

.logo__img {
    margin-right: 13px;
}

.headar__cart {
    margin-right: 26px;
    }

.navigation {
    height: 51px;
    background-color: #ffffff
}

.menu__link {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.promo {
    height: 613px;
    background-color: #e8e8e8;
    background-image: url(img/Man%20with%20hear.png);
    background-repeat: no-repeat;
    background-position: center -51px;
    display: flex;
    align-items: center;
        
}

.promo__h2 {
    font-size: 60px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0.03px;
    line-height: 45px;
    margin-bottom: 15px;
}

.promo__h3 {
    font-size: 40px;
    font-weight: 900;
    color: #222222;
    letter-spacing: 0;
    line-height: 31px;
}

.promo__color {
    font-size: 40px;
    font-weight: 900;
    color: #f16d7f;
    text-align: right;
    letter-spacing: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.promo__content {
   border-left: 12px solid #f16d7f;
   padding-left: 12px;
}

.logo__color {
    font-size: 27px;
    font-weight: 900;
    color: #f16d7f;
    text-align: center;
    letter-spacing: 0px;
    line-height: 32px;
    text-transform: uppercase;
}

.Browse {
    
   	align-items: center;
    height: 38px;
    width: 87px;
    border: 1px solid #e6e6e6;
    border-radius: 3px003px;
    background-image: linear-gradient(#f9f9f9 0%, #f5f5f5 100%);
}

.browse__text {
    top: 46px;
left: 444px;
height: 10px;
width: 46px;
font-family: 'Lato';
font-size: 14px;
font-weight: 300;
color: #222222;
text-align: right;
letter-spacing: 0px;
line-height: 32px;
    margin-left: 15px;
    margin-right: 8px;
}

 .header__input {
    top: 32px;
    left: 515px;
    height: 38px;
    width: 317px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
}

.search {
    top: 44px;
    left: 807px;
    height: 14px;
    width: 14px;
    font-family: 'FontAwesome';
    font-size: 14px;
    font-weight: 400;
    color: #a4a4a4;
    text-align: right;
    letter-spacing: 0px;
    line-height: 32px;
}

.button {
    top: 31px;
    left: 1239px;
    height: 38px;
    width: 130px;
    background-color: #f16d7f;
}

.acount__text {
top: 44px;
left: 1258px;
height: 14px;
width: 82px;
font-family: 'Lato';
font-size: 15px;
font-weight: 400;
color: #ffffff;
text-align: right;
letter-spacing: 0px;
line-height: 32px;
    margin-left: 19px;
    margin-top: 13px;
    margin-bottom: 11px;
    
}

.down__my {
    margin-left: 8px;
}
